:root {
  --color-body-background: rgb(227, 221, 191);
  --color-text: rgb(47, 51, 58);
}
* {
  margin: 0;
  padding: 0;
  /* border: 1px dashed rgb(0, 98, 255); */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
h3,
h4,
button,
input {
  line-height: 1.1;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--color-body-background);
  color: var(--color-text);
  font-size: 14px;
  font-family: "Share Tech Mono", monospace;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-title {
  font-weight: 600;
}
.navlinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 6rem;
  text-transform: lowercase;
  margin: 0 0 1rem 0;
}
h2 {
  text-align: end;
}

main {
  display: grid;
  grid-row: 1fr 1fr 1fr;
  padding: 0 1rem;
}
.image-container {
  background-color: rgb(173, 173, 173);
  width: 50vw;
  height: 200px;
}
